<div class="bg-content">
  <div class="box_topsss" style="background-color: transparent">
    <div style="width: 100px; float: left"></div>
    <span style="float: right">
      <div class="pagination">
        <a
          class="pagelink"
          href="?for=forum&amp;do=setting&amp;uid=3&amp;sz=15&amp;p=0"
          >&lt;</a
        >
        <a
          class="pagelink"
          href="?for=forum&amp;do=setting&amp;uid=3&amp;sz=15&amp;p=0"
          >1</a
        >
        <span class="pagecurrent">2</span>
        <a
          class="pagelink"
          href="?for=forum&amp;do=setting&amp;uid=3&amp;sz=15&amp;p=2"
          >3</a
        >
        <a
          class="pagelink"
          href="?for=forum&amp;do=setting&amp;uid=3&amp;sz=15&amp;p=3"
          >4</a
        >
        <a
          class="pagelink"
          href="?for=forum&amp;do=setting&amp;uid=3&amp;sz=15&amp;p=2"
          >&gt;</a
        >
      </div></span
    >
  </div>
</div>
